.search-results-pagination ul {
    display: flex;
    justify-content: center;
    padding: 12px 0;
    background-color: var(--c-background);
    list-style-type: none;
}

.search-results-pagination li a {
    text-decoration: none;
}

.search-results-pagination li button {
    padding: 0;
    min-width: 30px;
    height: 24px;
    font-size: 12px;
    margin: 0 2px;
    color: var(--c-page-numbers)d;
    border: 1px solid var(--c-page-numbers)d;
    text-align: center;
    border-radius: 2px;
    font-weight: 400;
    background-color: transparent;
    cursor: pointer;
}

.search-results-pagination li button:focus {
    outline: 0;
}

.search-results-pagination li.current button {
    color: var(--c-page-numbers-border);
    border: 1px solid var(--c-page-numbers-border);
}

.search-results-pagination li svg {
    height: 14px;
}

@media only screen and (max-width: 500px) and (min-width: 0px) {
    .search-results-pagination li button {
        font-size: 11px;
        min-width: 26.5px;
    }
}
